.sidebarlist {
    list-style: none !important;
    padding: 1rem;
}

.sidebarlist-item {
    min-height: 7vh;
}

.sidebarlist-item-container {
	display: flex;
	flex-direction: row;
}

.sidebarlist-item-container-cell-icon {
	width: 10%;
	margin-right: 10px;
}