.widgetsidebarlist {
    list-style: none !important;
    padding: 1rem;
}

.widgetsidebarlistitem {
    min-height: 7vh;
}

.widgetsidebarround {
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    -moz-border-radius-bottomright: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-bottom-right-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;

    -moz-border-radius-topright: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -webkit-border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}
